<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Malarkey" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-white">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between py-3 border-b border-zinc-100">
        <a href="/">
          <div class="flex items-center gap-4">
            <img class="h-8" src="/images/logo.svg" />
            <p class="px-2 font-medium leading-6 rounded-full text-md text-brand">
              Malarkey
            </p>
          </div>
        </a>
        <div class="flex items-center gap-4">
          <%= if @current_user do %>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="rounded-lg bg-zinc-100 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              Logout <span aria-hidden="true">&rarr;</span>
            </.link>
          <% else %>
            <.link
              href={~p"/users/register"}
              class="rounded-lg bg-zinc-100 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              Register <span aria-hidden="true">&rarr;</span>
            </.link>
            <.link
              href={~p"/users/log_in"}
              class="rounded-lg bg-zinc-100 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              Login <span aria-hidden="true">&rarr;</span>
            </.link>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
